<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <h1> <%- bandas[0].nombre %> </h1>
        <img src="/<%- bandas[0].cover %>" alt="imagen de <%-bandas[0].nombre %>" width= 300px>
       
            <h3> Genero: <a href="http://localhost:3000/bandas/genero/<%- bandas[0].genero %>"><%- bandas[0].genero %> </a></h3>
            <h3>Cantidad de integrantes:  <%- bandas[0].integrantes %></h3>
            <h3>Canciones mas destacadas de <%- bandas[0].nombre %>:</h3>
            <ul>
            <% for (let i = 0; i < bandas[0].topCanciones.length; i++) {%>
                <li> <%- bandas[0].topCanciones[i] %></li>            
            <% } %>
            </ul>
            <a href="<%- bandas[0].video %>"> <h3>VIDEO DE <%- bandas[0].nombre %></h3>  </a>
</body>
</html>